
body {
	background-color: #0098ffb0;
  margin: 0;
}

.site-pages {
	display: block;
}

.style5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style9 {font-family: Arial, Helvetica, sans-serif}
.style11 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666600;
}
.style15 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; }
.style17 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #445327; }
.style18 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #445327;
}
.style19 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #445327;
}
.style20 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666600; }
.style21 {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 16px;
	color: #FFFFFF;
}
.style22 {	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.style23 {	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.style181 {	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 16px;
	color: #FFFFFF;
}
.style23 {	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.style5 {font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style24 {color: #FFFFFF}
a:link {
	color: #445327;
}
a:visited {
	color: #445327;
}
</style>
