<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Olsen Day Executive Search, Recruiting & Consulting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="public/css/style.css" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  		<div class="container-fluid">
  			<a href="#" class="navbar-brand"><img src="public/img/logo2.jpg" alt="Olsen Day Executive Search & Consulting"></a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
  				<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarResponsive">
  				<ul class="navbar-nav ml-auto">
            <li class="nav-item">
  						<a href="/" class="nav-link">Home</a>
  					</li>
  					<li class="nav-item">
  						<a href="/markday" class="nav-link">Mark Day</a>
  					</li>
  					<li class="nav-item">
  						<a href="aboutus" class="nav-link">About</a>
  					</li>
  					<li class="nav-item">
  						<a href="other-services" class="nav-link">Other Services</a>
  					</li>
  					<li class="nav-item">
  					<li class="nav-item">
  						<a href="making-a-difference" class="nav-link">Making A Difference</a>
  					</li>
  					<li class="nav-item">
  						<a href="completed-searches" class="nav-link">Completed Searches</a>
  					</li>
  					<li class="nav-item">
  						<a href="ongoing-searches" class="nav-link">Ongoing Searches</a>
  					</li>
  						<a href="contact" class="nav-link">Contact Us</a>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</nav>

    <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1 class="display-4">About Us</h1>
        </div>
        <hr>
        <div class="col-12">
          <p class="lead">The search consultants at Olsen Day have completed difficult searches for top-tier companies in a
            variety of industries and functional areas. Following are the core components of our business philosophy.</p>
        </div>
        <hr>
        <div class="col-12">
          <h2>Senior people to fill senior positions</h2>
        </div>
        <hr>
        <div class="col-12">
          <p class="lead">Our search consultants have extensive business backgrounds. Searches are not handed off to junior
            staff members. This ensures that every contact with a prospective candidate is handled with the highest level of professionalism and discretion.</p>
        </div>
        <hr>
        <div class="col-12">
          <h2>Partnering at a new level</h2>
        </div>
        <hr>
        <div class="col-12">
          <p class="lead">All good executive search firms include an in-person interview as part of the candidate assessment
            process. At Olsen Day, we take this a step further. Once a candidate has been selected by a client to be
            interviewed, we will participate in the client's first interview with the candidate.
            This can be time intensive, but the information gained in observing the interview first-hand enables our search
            consultants to refine the search on a real-time basis, which ultimately improves the efficiency and effectiveness of
            the search. </p>
        </div>
        <hr>
        <div class="col-12">
          <h2>The importance of research</h2>
        </div>
        <hr>
        <div class="col-12">
          <p class="lead">We believe in excellent research. We do not rely on our existing database to be the primary source
            of candidates. Our search consultants have very well developed research skills, and we also utilize a network of
            extraordinarily capable executive search researchers. Because each search is different, the importance of these research
            capabilities cannot be overstated. </p>
        </div>
        <hr>
        <div class="col-12">
          <h2>Long term view</h2>
        </div>
        <hr>
        <div class="col-12">
          <p class="lead">Every time we contact a new candidate, we reach out in a respectful, professional manner with a
            view toward establishing a relationship that will be of long-term benefit to both parties. If a qualified
            candidate is interested in our client's opportunity – then we pursue it together. If not, we don't, but then we
            work to follow our candidates' career paths. Our search consultants have successfully placed some candidates years
            after their initial conversation. Likewise with clients, our goal is to provide personalized, tailored service
            with a focus on results, which leads to multiple assignments and to long-term relationships. </p>
        </div>
      </div>
    </div>
    <footer>
      <div class="container-fluid padding">
        <div class="row text-center">
          <div class="col-12">
              <p>© 2018 Olsen Day, Inc. All rights reserved</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
