<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Olsen Day Executive Search, Recruiting & Consulting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="public/css/style.css" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  		<div class="container-fluid">
  			<a href="#" class="navbar-brand"><img src="public/img/logo2.jpg" alt="Olsen Day Executive Search & Consulting"></a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
  				<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarResponsive">
  				<ul class="navbar-nav ml-auto">
            <li class="nav-item ">
  						<a href="/" class="nav-link">Home</a>
  					</li>
  					<li class="nav-item ">
  						<a href="/markday" class="nav-link">Mark Day</a>
  					</li>
  					<li class="nav-item">
  						<a href="aboutus" class="nav-link">About</a>
  					</li>
  					<li class="nav-item">
  						<a href="other-services" class="nav-link">Other Services</a>
  					</li>
  					<li class="nav-item">
  					<li class="nav-item">
  						<a href="making-a-difference" class="nav-link">Making A Difference</a>
  					</li>
  					<li class="nav-item">
  						<a href="completed-searches" class="nav-link">Completed Searches</a>
  					</li>
  					<li class="nav-item">
  						<a href="ongoing-searches" class="nav-link">Ongoing Searches</a>
  					</li>
  						<a href="contact" class="nav-link">Contact Us</a>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</nav>

    <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1 class="display-4">Completed Searches</h1>
        </div>
        <hr>
        <div class="col-12">
          <p class="lead">Our search consultants have completed mid to senior-level searches in the following industries:</p>
        </div>
        <hr>
        <div class="col-12">
          <ul class="searches">
            <li>Accounting firms / public accounting</li>
            <li>Consulting (various - see below)</li>
            <li>Financial services</li>
            <li>Law firms</li>
            <li>Litigation support</li>
            <li>Manufacturing</li>
            <li>Oil and gas</li>
            <li>Oilfield equipment & services</li>
            <li>Shared services</li>
            <li>Software and services</li>
            <li>Telecom</li>
          </ul>

        </div>
        <hr>
        <div class="col-12">
          <p class="lead">Our search consultants have placed executives in the following functional areas:</p>
        </div>
        <hr>
        <div class="col-12">
          <ul class="searches">
            <li>Accounting</li>
            <li>Asset Integrity Management</li>
            <li>Auditing</li>
            <li>Consulting:

                  <ul class="consulting searches">

                    <li>- Bankruptcy and turnaround consulting</li>
                    <li>- Economic and anti-trust consulting</li>
                    <li>- Electronic discovery and forensic technology</li>
                    <li>- Expert witness</li>
                    <li>- Healthcare consulting (pharma/life sciences and provider)</li>
                    <li>- IT consulting (various specialties)</li>
                    <li>- Intellectual property disputes</li>
                    <li>- Investigations and forensic accounting</li>
                    <li>- Litigation consulting</li>
                    <li>- Outsourcing</li>
                    <li>- Strategy consulting</li>
                    <li>- Valuation</li>
                  </ul>
            </li>
            <li>Engineering (various disciplines)</li>
            <li>Finance</li>
            <li>Geology</li>
            <li>General management</li>
            <li>HSE (Health, Safety, Environmental)</li>
            <li>Human resources</li>
            <li>Information technology</li>
            <li>Internal audit</li>
            <li>Litigation support</li>
            <li>Marketing</li>
            <li>Materials Science</li>
            <li>Records management</li>
            <li>Recruiting</li>
            <li>Risk management</li>
            <li>Sales and business development</li>
            <li>Tax</li>
          </ul>
        </div>

      </div>
    </div>
    <footer>
      <div class="container-fluid padding">
        <div class="row text-center">
          <div class="col-12">
              <p>© 2018 Olsen Day, Inc. All rights reserved</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
