<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Olsen Day Executive Search, Recruiting & Consulting</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="public/css/style.css">
  <link rel="stylesheet" href="public/css/style2.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a href="#" class="navbar-brand"><img src="public/img/logo2.jpg" alt="Olsen Day Executive Search & Consulting"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
						<a href="/" class="nav-link">Home</a>
					</li>
					<li class="nav-item">
						<a href="/markday" class="nav-link">Mark Day</a>
					</li>
					<li class="nav-item">
						<a href="aboutus" class="nav-link">About Us</a>
					</li>
					<li class="nav-item">
						<a href="other-services" class="nav-link">Other Services</a>
					</li>
					<li class="nav-item">
					<li class="nav-item">
						<a href="making-a-difference" class="nav-link">Making A Difference</a>
					</li>
					<li class="nav-item">
						<a href="completed-searches" class="nav-link">Completed Searches</a>
					</li>
					<li class="nav-item">
						<a href="ongoing-searches" class="nav-link">Ongoing Searches</a>
					</li>
						<a href="contact" class="nav-link">Contact Us</a>
					</li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">

    <h1 class="brand">Olsen Day</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Olsen Day</h3>
        <h5>Olsen Day is located in the Ambrose Group building in northwest Houston.</h6>
        <ul>
          <li><i class="fa fa-road"></i> Olsen Day <br>
          16545 Village Drive <br>
          Building A, Suite 200 <br>
          Jersey Village, TX 77040</li>
          <li><i class="fa fa-phone"></i> (832) 795-2745</li>
          <li><i class="fa fa-fax"></i> (713) 688-1117</li>
          <li><i class="fa fa-envelope"></i> info@olsenday.com</li>
          <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/meday"> LinkedIn</a></li>
          <li><i class="fa fa-address-card-o"></i> <a href="public/assets/MarkDay.vcf">Download vCard</a></li>
        </ul>
      </div>
      <div class="contact">
        <h3>Email Us</h3>
        {{msg}}
        <form method="POST" action="/send">
          <p>
            <label>Name</label>
            <input type="text" name="name">
          </p>
          <p>
            <label>Company</label>
            <input type="text" name="company">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email">
          </p>
          <p>
            <label>Phone Number</label>
            <input type="text" name="phone">
          </p>
          <p class="full">
            <label>Message</label>
            <textarea name="message" rows="5"></textarea>
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
  <footer>
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-12">
            <p>© 2018 Olsen Day, Inc. All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
