<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Olsen Day Executive Search, Recruiting & Consulting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="public/css/style.css" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a href="#" class="navbar-brand"><img src="public/img/logo2.jpg" alt="Olsen Day Executive Search & Consulting"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
  						<a href="/" class="nav-link">Home</a>
  					</li>
  					<li class="nav-item">
  						<a href="/markday" class="nav-link">Mark Day</a>
  					</li>
  					<li class="nav-item">
  						<a href="aboutus" class="nav-link">About Us</a>
  					</li>
  					<li class="nav-item">
  						<a href="other-services" class="nav-link">Other Services</a>
  					</li>
  					<li class="nav-item">
  					<li class="nav-item">
  						<a href="making-a-difference" class="nav-link">Making A Difference</a>
  					</li>
  					<li class="nav-item">
  						<a href="completed-searches" class="nav-link">Completed Searches</a>
  					</li>
  					<li class="nav-item">
  						<a href="ongoing-searches" class="nav-link">Ongoing Searches</a>
  					</li>
  						<a href="contact" class="nav-link">Contact Us</a>
  					</li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1 class="display-4">Making A <span id="difference">Difference</span></h1>
        </div>
        <hr>
        <div class="col-12">
          <div class="lead"><p id="make-intro">At Olsen Day, we believe in making a difference for our clients, and we are pleased to participate with and support the following organizations that make a difference in the lives of others.</p>
            <div class="clear make-container">
              <a href="http://www.thetentinc.org/"><img class="left" src="public/img/tent.jpg" alt="The Tent"></a>
              <p>The Tent reaches and teaches women in Israel.</p>
            </div>
            <div class="clear make-container">
              <a href="https://www.swemri.org"><img class="left" src="public/img/swemri.png" alt="SWE Medical Research Institute"></a>
              <p>SWE Medical Research Institute conducts medical research in the fields of Malaria Prevention and Hygiene with a particular focus on Mosquito Nets, Malaria Research, or such other areas of medical research such as research in the Field of Neglected Tropical Diseases (NTDs).</p>
            </div>
            <div class="every-village clear">
              <a href="http://everyvillage.org"><img class="left" src="public/img/every-village.png" alt="Every Village"></a>
              <p>Every Village aims to transform every village in South Sudan by spreading the gospel and community development.</p>
            </div>
            <div class="one-eight clear make-container">
              <a href="http://oneeightcatalyst.org"><img class="left" src="public/img/oneeightcatalyst.jpg" alt="One:Eight Catalyst"></a>
              <p>One Eight Catalyst mobilizes and equips Christians toward Great Commission fulfillment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container-fluid padding">
        <div class="row text-center">
          <div class="col-12">
              <p>© 2018 Olsen Day, Inc. All rights reserved</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
