<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Olsen Day Executive Search, Recruiting & Consulting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="/public/css/style.css" rel="stylesheet">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-xl navbar-light bg-light sticky-top">
  		<div class="container-fluid">
  			<a href="#" class="navbar-brand"><img src="/public/img/logo2.jpg" alt="Olsen Day Executive Search & Consulting"></a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
  				<span class="navbar-toggler-icon"></span>
  			</button>
  			<div class="collapse navbar-collapse" id="navbarResponsive">
  				<ul class="navbar-nav ml-auto">
            <li class="nav-item">
  						<a href="/" class="nav-link">Home</a>
  					</li>
  					<li class="nav-item">
  						<a href="/markday" class="nav-link">Mark Day</a>
  					</li>
  					<li class="nav-item">
  						<a href="/aboutus" class="nav-link">About Us</a>
  					</li>
  					<li class="nav-item">
  						<a href="/other-services" class="nav-link">Other Services</a>
  					</li>
  					<li class="nav-item">
  					<li class="nav-item">
  						<a href="/making-a-difference" class="nav-link">Making A Difference</a>
  					</li>
  					<li class="nav-item">
  						<a href="/completed-searches" class="nav-link">Completed Searches</a>
  					</li>
  					<li class="nav-item">
  						<a href="/ongoing-searches" class="nav-link">Ongoing Searches</a>
  					</li>
  						<a href="/contact" class="nav-link">Contact Us</a>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</nav>

    <div class="container-fluid padding">
      <div class="row welcome text-center">
        <div class="col-12">
          <h1 class="display-4">General Manager</h1>
        </div>
        <hr>
        <div class="col-12">
          <p>A privately held manufacturing Company with annual revenues in the range of $30 to
            $40 Million seeks an experienced executive to be the number two person behind the
            owner/CEO, and to begin to assume leadership of the entire Company.
            The Company, located in southwest Houston, is growing, stable, and has no debt.
            The Company’s custom-engineered products are used in oil exploration,
            in the maritime industry, and in the pipeline industry.</p>
        </div>
        <div class="col-12">
          <h1>Overview</h1>
          <p>The General Manager will, after a transition period, provide overall strategic,
            operational and commercial leadership to the Company. In the Company’s succession plan,
            the General Manager will be first in line to be promoted to the position of CEO.
            The General Manager will eventually also lead a related not-for-profit charitable
            organization that currently has a budget of approximately $250,000 annually.</p>
            <p>Initially, the General Manager will be tasked with:</p>
        </div>
        <div class="overview">
          <ul>
            <li>Learning the business and the company’s culture and core values</li>
            <li>Developing relationships with the four Vice Presidents</li>
            <li>Participating in the Vice Presidents’ weekly meetings</li>
            <li>Learning the key processes and systems that support the business</li>
            <li>Special projects as assigned by the CEO</li>
            <li>Making presentations to the Board of Directors</li>
          </ul>
        </div>
        <div class="col-12">
          <p>In the mid-term:</p>
        </div>
        <div class="overview">
          <ul>
            <li>Begin to assume decision-making responsibilities as they are delegated to
              him or her by the CEO</li>
            <li>Begin to lead the Vice Presidents and to chair their regular meetings</li>
            <li>Develop and share a point of view regarding short-term and long-term strategy and priorities</li>
          </ul>
        </div>
        <div class="col-12">
          <p>Eventually, as CEO, this individual will:</p>
        </div>
        <div class="overview">
          <ul>
            <li>Have full operational and P & L responsibility</li>
            <li>Join the Board of Directors of the Company and the Board of Trustees of charitable
              organization</li>
            <li>Make or approve all key decisions</li>
            <li>Refine / redevelop / develop the strategic plan</li>
            <li>Provide overall leadership to the Vice Presidents and to the company</li>
            <li>Prioritize which projects/initiatives to pursue</li>
          </ul>
        </div>
        <div class="col-12">
          <h1>To be considered</h1>
        </div>
        <p>The Company seeks well-qualified candidates with an entrepreneurial spirit who have
          at least twenty year of work experience,
          including at least three years of direct P & L responsibility.
          Experience in manufacturing is strongly preferred.
          An MBA is preferred but is not required.</p>
        <p>The key contact for this search is Mark Day. Individuals who have questions or are interested
          in a preliminary conversation are welcome to call Mark at +1 (832) 795-2745, or to email him at
          mark.day@olsenday.com. All communications will be held in strict confidence.</p>
      </div>
    </div>
    <footer>
      <div class="container-fluid padding">
        <div class="row text-center">
          <div class="col-12">
              <p>© 2018 Olsen Day, Inc. All rights reserved</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
